*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 70%;
    margin: auto;
}
.header-wrapper{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icon:not(:last-child){
    margin-right: 55px;
}
.intro{
    background: #4FBFA5;
    padding: 25px 0 60px;
}
.intro-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    color: white;
}
.nav-link:last-child{
    background-color: white;
    color: black;
    padding: 10px 50px;
}
.intro-info{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.intro-text{
    width: 30%;
    font-style: italic;
}
.intro-img{
    width: 60%;
}
.intro-img img{
    width: 100%;
}
.intro-title{
    font-weight: 400;
    font-size: 48px;
}
.intro-descr{
    font-size: 14px;
    margin: 40px 0;
}
.intro-btn{
    padding: 15px 25px;
    background: #00868A;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    font-style: italic;
}
.proposition{
    padding: 146px 0 129px 0;
}
.proposition-title{
    text-align: center;
    font-size: 48px;
    color: #00868A;
    font-style: italic;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}
.proposition-wrapper{
    width: 68%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 70px;
}
.proposition-card{
    width: 25%;
    margin-right: 20px;
    position: relative;
}
.proposition-card-img{
    width: 100%;
    display: block;
}

.proposition-card-descr{
    display: flex;
    justify-content: space-between;
    background-color: #00868A;
    padding: 25px 25px;
    color: white;
    font-size: 21px;
    font-style: italic;
}
.proposition-card-descr p{
    width: 65%;
}
.proposition-card-new{
    background: #4FBFA5;
    color: azure;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    padding: 10px 15px;
    position: absolute;
    top: 30px;
    left: 30px;
}